html {
    scroll-behavior: smooth;
  }

/*--Navigation Menu Styles--*/
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -86px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 20px; 
    width: 100px;
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0;
    font-family: 'Dosis', sans-serif;
  }
  
  #mySidenav a:hover {
    left: 0; 
  }
  
  #about {
    top: 50px;
    background-color: #522A89;
  }
  
  #journey {
    top: 130px;
    background-color: #6A2A89; 
  }
  
  #projects {
    top: 210px;
    background-color: #812A89; 
  }
  
  #tools {
    top: 290px;
    background-color: #892A79;
  }
  
  #contact {
    top: 370px;
    background-color: #7D035E;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    }
  
  /*--Icon Styling--*/
  i.fas, i.far {
    color: white;
    float: right;
    }

/*--Tools Section Page Styles*/

.flip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;

}


.item {
    width: 100px;
    height: 100px;
    border: #A9A9A9;
    border-radius: 25px;
    box-shadow: 0 0 3px #A9A9A9;
    background-color: #F8F5E1;
    padding: 100px;
    margin: 5%;
    font-size: 30px;
    text-align: center;
    transition: transform 3s;
 
    transition-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
  }


.item:hover {
    /* transform: rotate(360deg); */
    background-image: -webkit-radial-gradient(
        center top, circle farthest-corner,
        #FFF 0%, #D8DFE9 100%);
    background-image: radial-gradient(
        circle farthest-corner at center top,
        #FFF 0%, #D8DFE9 100%);
       overflow: hidden;
    animation: moveCenter 6s;
    transform: scale(0.954406) translateZ(0px); opacity: 0.77203;
}

@keyframes moveCenter {
    0% {background-color: #F8F5E1; left: 0px; top:0px;}
    50% {background-color: #D8DFE9; left:200px; top:200px;} 
    100% {background-color: #F8F5E1; left:0px; top: 0px;}
}